<mat-toolbar color="primary">
  <span>Tracker delivery dashboard</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>
<div class="row clsRow">
  <div class="col-md-12">
    <mat-card class="p-4 m-4">
      <mat-list>
        <h3>Current orders</h3>
        <mat-list-item *ngFor="let id of ids">
          <h4 (click)="trackingId(id.trackid)" mat-line>{{id.id}}: ID ({{id.trackid}}) - {{id.name}} - ({{id.source_city}} to {{id.destination_city}})</h4>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
<div class="row clsRow">
  <div class="col-sm-6 col-md-6 col-lg-4">
    <mat-card class="p-4 m-4 clsHeight">
      <h4>Tracking Id - {{id}}</h4>
      <br>
      <h6>Weight [in lbs] - {{pkg_weight}}</h6>
      <h6>Order Date - {{order_date}}</h6>
      <h6>Amount - {{country_currency}} {{amount}}</h6>
      <h6>Name - {{name}}</h6>
      <h6>Source City - {{source_city}}</h6>
      <h6>Destination City - {{destination_city}}</h6>
      <br>
      <br>
    </mat-card>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-4">
    <mat-card class="p-4 m-4 clsHeight">
      <div [className]="current_pkg_stage === 1 ? 'step step-active' : 'step'">
        <div>
          <div class="circle">
            <div [className]="current_pkg_stage === 1 ? 'clsMatIcon' : ''">
              <mat-icon>store</mat-icon>
            </div>
          </div>
        </div>
        <div>
          <div class="title">Package sent from store</div>
          <div class="caption">We have received your package</div>
        </div>
      </div>
      <div [className]="current_pkg_stage === 2 ? 'step step-active' : 'step'">
        <div>
          <div class="circle">
              <div [className]="current_pkg_stage === 2 ? 'clsMatIcon' : ''">
                <mat-icon>location_city</mat-icon>
              </div>
          </div>
        </div>
        <div>
          <div class="title">Package at warehouse</div>
          <div class="caption">Your package is ready to be picked from warehouse</div>
        </div>
      </div>
      <div [className]="current_pkg_stage === 3 ? 'step step-active' : 'step'">
        <div>
          <div class="circle">
              <div [className]="current_pkg_stage === 3 ? 'clsMatIcon' : ''">
                <mat-icon>home</mat-icon>
              </div>
          </div>
        </div>
        <div>
          <div class="title">Package arrived</div>
          <div class="caption">Delivery Done!!</div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col-sm-6 col-md-6 col-lg-4">
    <mat-card class="p-4 m-4 clsHeight">
      Map marker coming soon...
    </mat-card>
  </div>
</div>