.clsRow{
  height: 100%;
}

.step {
  position: relative;
  min-height: 1em;
  color: gray;
}
.step + .step {
  margin-top: 1.5em
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 2.5em;
  padding-left: 1em;
}
.step.step-active {
  color: #19961c;
  
}
.step.step-active .circle {
  background-color: #19961c;
 
}
.clsMatIcon{
  animation: blink 1s linear infinite;
}
.cls{
  animation: none; 
}

.circle {
  background: gray;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  line-height: 3.3em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}


.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: #19961c;
}
.step:last-child .circle:after {
  display: none
}


.title {
  line-height: 2.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}
.clsHeight{
  height: 100%;
}



@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }