@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.toolbar-icon {
  padding: 0 16px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

agm-map {
  height: 300px;
}

html body{
  background: #eceef8;
}
.mat-toolbar.mat-primary{
  background: #19961c;
}